{% extends "base.html" %}



{% block content %}


<div class="dashboard">


    <h1>
        Welcome to Dashboard
    </h1>


    <p>
        Prepare yourself for your next interview with AI.
    </p>



    <div class="cards">



        <div class="card">


            <h2>
                📄 Resume Analysis
            </h2>


            <p>
                Upload your resume and let AI extract your skills,
                projects and experience.
            </p>


        </div>





        <div class="card">


            <h2>
                🤖 AI Interview
            </h2>


            <p>
                Start a realistic interview with your AI interviewer.
            </p>


            <br>


            <a class="btn" href="/start-interview">

            Start Interview

            </a>


        </div>






        <div class="card">


            <h2>
                📊 Performance Report
            </h2>


            <p>
                View your interview scores,
                feedback and improvement areas.
            </p>


        </div>




    </div>


</div>



{% endblock %}