{% extends "base.html" %}



{% block content %}



<div class="interview-container">



    <!-- Webcam Section -->

    <div class="video-box">


        <div>

            <h2>
                📷 Webcam
            </h2>


            <p>
                Camera feed will appear here
            </p>


        </div>


    </div>





    <!-- AI Interview Section -->


    <div class="chat-box">


        <h2>
            🤖 AI Interviewer
        </h2>


<p>

Interview ID:

{{ interview_id }}

</p>



        <div class="message">

            Hello! Welcome to your AI interview.

        </div>




        <div class="message">

            Please introduce yourself.

        </div>




        <br>


        <input 
        type="text"
        placeholder="Type your answer..."
        style="
        width:90%;
        padding:12px;
        border-radius:8px;
        border:none;
        ">


        <br><br>



        <button class="btn">

            Send Answer

        </button>



    </div>



</div>




{% endblock %}