{% extends "base.html" %}

{% block content %}

<div class="dashboard">

    <h1>
        Resume Analysis
    </h1>

    <br>

    <div class="card">

        <h2>
            Candidate Information
        </h2>

        <br>

        <p>
            <strong>Name:</strong>
            {{ resume_info.name }}
        </p>

        <br>

        <h3>Skills</h3>

        <ul>

            {% for skill in resume_info.skills %}

            <li>{{ skill }}</li>

            {% endfor %}

        </ul>

        <br>

        <h3>Projects</h3>

        <ul>

            {% for project in resume_info.projects %}

            <li>{{ project }}</li>

            {% endfor %}

        </ul>

        <br>

        <h3>Education</h3>

        <ul>

            {% for edu in resume_info.education %}

            <li>{{ edu }}</li>

            {% endfor %}

        </ul>

    </div>

</div>

{% endblock %}